.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 49.58333em;
	height: 70.08334em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.stl_ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"TBDFGO+Times New Roman";
	src:url("../fonts/807b1e25-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.83em;
	font-family: "TBDFGO+Times New Roman";
	color: #000000;
}
.stl_08 {
	line-height: 1.107422em;
}
.stl_09 {
	letter-spacing: 0.004em;
}

.stl_ie .stl_09 {
	letter-spacing: 0.0531px;
}
@font-face {
	font-family:"JEWIJO+Times New Roman Bold";
	src:url("../fonts/41503a57-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.88em;
	font-family: "JEWIJO+Times New Roman Bold";
	color: #000000;
}
.stl_11 {
	letter-spacing: -0.0027em;
}

.stl_ie .stl_11 {
	letter-spacing: -0.0385px;
}
.stl_12 {
	font-size: 0.92em;
	font-family: "TBDFGO+Times New Roman";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0015em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0214px;
}
.stl_14 {
	font-size: 0.75em;
	font-family: "TBDFGO+Times New Roman";
	color: #000000;
}
.stl_15 {
	letter-spacing: -0.0019em;
}

.stl_ie .stl_15 {
	letter-spacing: -0.0231px;
}
.stl_16 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_16 {
	letter-spacing: 0.001px;
}
.stl_17 {
	letter-spacing: -0.0011em;
}

.stl_ie .stl_17 {
	letter-spacing: -0.0167px;
}
.stl_18 {
	letter-spacing: -0.002em;
}

.stl_ie .stl_18 {
	letter-spacing: -0.0293px;
}
.stl_19 {
	letter-spacing: 0.0011em;
}

.stl_ie .stl_19 {
	letter-spacing: 0.0133px;
}
.stl_20 {
	letter-spacing: -0.0012em;
}

.stl_ie .stl_20 {
	letter-spacing: -0.0172px;
}
.stl_21 {
	letter-spacing: -0.0018em;
}

.stl_ie .stl_21 {
	letter-spacing: -0.0264px;
}
.stl_22 {
	letter-spacing: -0.0013em;
}

.stl_ie .stl_22 {
	letter-spacing: -0.0189px;
}
.stl_23 {
	letter-spacing: 0.0016em;
}

.stl_ie .stl_23 {
	letter-spacing: 0.0231px;
}
.stl_24 {
	letter-spacing: -0.003em;
}

.stl_ie .stl_24 {
	letter-spacing: -0.0437px;
}
.stl_25 {
	letter-spacing: 0.001em;
}

.stl_ie .stl_25 {
	letter-spacing: 0.0145px;
}
@font-face {
	font-family:"CGAWNO+Times New Roman Italic";
	src:url("../fonts/17100ac7-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_26 {
	font-size: 0.92em;
	font-family: "CGAWNO+Times New Roman Italic";
	color: #000000;
}
.stl_27 {
	letter-spacing: -0.0006em;
}

.stl_ie .stl_27 {
	letter-spacing: -0.0087px;
}
.stl_28 {
	letter-spacing: 0.0005em;
}

.stl_ie .stl_28 {
	letter-spacing: 0.007px;
}
.stl_29 {
	letter-spacing: 0em;
}

.stl_ie .stl_29 {
	letter-spacing: 0px;
}
.stl_30 {
	letter-spacing: -0.0025em;
}

.stl_ie .stl_30 {
	letter-spacing: -0.0362px;
}
.stl_31 {
	letter-spacing: 0.003em;
}

.stl_ie .stl_31 {
	letter-spacing: 0.036px;
}
.stl_32 {
	letter-spacing: -0.0017em;
}

.stl_ie .stl_32 {
	letter-spacing: -0.0245px;
}
.stl_33 {
	letter-spacing: -0.0022em;
}

.stl_ie .stl_33 {
	letter-spacing: -0.0309px;
}
.stl_34 {
	letter-spacing: -0.0016em;
}

.stl_ie .stl_34 {
	letter-spacing: -0.0238px;
}
.stl_35 {
	letter-spacing: -0.0034em;
}

.stl_ie .stl_35 {
	letter-spacing: -0.0485px;
}
.stl_36 {
	font-size: 0.696em;
	font-family: "JEWIJO+Times New Roman Bold";
	color: #000000;
}
.stl_37 {
	letter-spacing: -0.0023em;
}

.stl_ie .stl_37 {
	letter-spacing: -0.0334px;
}
.stl_38 {
	letter-spacing: -0.0055em;
}

.stl_ie .stl_38 {
	letter-spacing: -0.081px;
}
.stl_39 {
	letter-spacing: 0.0067em;
}

.stl_ie .stl_39 {
	letter-spacing: 0.0981px;
}
.stl_40 {
	letter-spacing: -0.0009em;
}

.stl_ie .stl_40 {
	letter-spacing: -0.0128px;
}
.stl_41 {
	letter-spacing: -0.007em;
}

.stl_ie .stl_41 {
	letter-spacing: -0.1031px;
}
.stl_42 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_42 {
	letter-spacing: -0.0011px;
}
.stl_43 {
	letter-spacing: -0.001em;
}

.stl_ie .stl_43 {
	letter-spacing: -0.0152px;
}
.stl_44 {
	letter-spacing: 0.0012em;
}

.stl_ie .stl_44 {
	letter-spacing: 0.0177px;
}
.stl_45 {
	letter-spacing: -0.0052em;
}

.stl_ie .stl_45 {
	letter-spacing: -0.0761px;
}
.stl_46 {
	letter-spacing: 0.0003em;
}

.stl_ie .stl_46 {
	letter-spacing: 0.004px;
}
.stl_47 {
	letter-spacing: -0.0005em;
}

.stl_ie .stl_47 {
	letter-spacing: -0.0074px;
}
.stl_48 {
	letter-spacing: -0.004em;
}

.stl_ie .stl_48 {
	letter-spacing: -0.0588px;
}
.stl_49 {
	letter-spacing: -0.0026em;
}

.stl_ie .stl_49 {
	letter-spacing: -0.038px;
}
.stl_50 {
	letter-spacing: 0.0065em;
}

.stl_ie .stl_50 {
	letter-spacing: 0.095px;
}
.stl_51 {
	font-size: 0.696em;
	font-family: "TBDFGO+Times New Roman";
	color: #000000;
}
.stl_52 {
	letter-spacing: 0.0015em;
}

.stl_ie .stl_52 {
	letter-spacing: 0.022px;
}
.stl_53 {
	letter-spacing: -0.006em;
}

.stl_ie .stl_53 {
	letter-spacing: -0.0878px;
}
.stl_54 {
	font-size: 0.5em;
	font-family: "TBDFGO+Times New Roman";
	color: #000000;
}
.stl_55 {
	letter-spacing: -0.0003em;
}

.stl_ie .stl_55 {
	letter-spacing: -0.0035px;
}
.stl_56 {
	letter-spacing: 0.0007em;
}

.stl_ie .stl_56 {
	letter-spacing: 0.0079px;
}
.stl_57 {
	letter-spacing: 0.0002em;
}

.stl_ie .stl_57 {
	letter-spacing: 0.0029px;
}
.stl_58 {
	letter-spacing: 0.0006em;
}

.stl_ie .stl_58 {
	letter-spacing: 0.007px;
}
.stl_59 {
	font-size: 0.75em;
	font-family: "CGAWNO+Times New Roman Italic";
	color: #000000;
}
.stl_60 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_60 {
	letter-spacing: -0.0023px;
}
.stl_61 {
	letter-spacing: -0.0014em;
}

.stl_ie .stl_61 {
	letter-spacing: -0.0168px;
}
.stl_62 {
	font-size: 0.67em;
	font-family: "TBDFGO+Times New Roman";
	color: #000000;
}
.stl_63 {
	letter-spacing: -0.0065em;
}

.stl_ie .stl_63 {
	letter-spacing: -0.0692px;
}
