.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 49.58333em;
	height: 70.08334em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.stl_ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"RVFNLF+Times New Roman";
	src:url("../fonts/45cbde25-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.83em;
	font-family: "RVFNLF+Times New Roman";
	color: #000000;
}
.stl_08 {
	line-height: 1.107422em;
}
.stl_09 {
	letter-spacing: 0.0016em;
}

.stl_ie .stl_09 {
	letter-spacing: 0.0209px;
}
.stl_10 {
	font-size: 0.92em;
	font-family: "RVFNLF+Times New Roman";
	color: #000000;
}
.stl_11 {
	letter-spacing: -0.0013em;
}

.stl_ie .stl_11 {
	letter-spacing: -0.0198px;
}
.stl_12 {
	letter-spacing: -0.0012em;
}

.stl_ie .stl_12 {
	letter-spacing: -0.0182px;
}
.stl_13 {
	letter-spacing: -0.0014em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0206px;
}
.stl_14 {
	letter-spacing: -0.0015em;
}

.stl_ie .stl_14 {
	letter-spacing: -0.0214px;
}
@font-face {
	font-family:"WDCGBP+Times New Roman Bold";
	src:url("../fonts/be9993da-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 0.92em;
	font-family: "WDCGBP+Times New Roman Bold";
	color: #000000;
}
.stl_16 {
	letter-spacing: 0.0048em;
}

.stl_ie .stl_16 {
	letter-spacing: 0.0703px;
}
@font-face {
	font-family:"WTCQBW+Times New Roman Italic";
	src:url("../fonts/df62f673-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.92em;
	font-family: "WTCQBW+Times New Roman Italic";
	color: #000000;
}
.stl_18 {
	letter-spacing: -0.0024em;
}

.stl_ie .stl_18 {
	letter-spacing: -0.0346px;
}
.stl_19 {
	letter-spacing: 0em;
}

.stl_ie .stl_19 {
	letter-spacing: 0px;
}
.stl_20 {
	letter-spacing: -0.0035em;
}

.stl_ie .stl_20 {
	letter-spacing: -0.0509px;
}
.stl_21 {
	letter-spacing: -0.0011em;
}

.stl_ie .stl_21 {
	letter-spacing: -0.0167px;
}
.stl_22 {
	letter-spacing: -0.0055em;
}

.stl_ie .stl_22 {
	letter-spacing: -0.0814px;
}
.stl_23 {
	font-size: 0.696em;
	font-family: "RVFNLF+Times New Roman";
	color: #000000;
}
.stl_24 {
	letter-spacing: -0.0029em;
}

.stl_ie .stl_24 {
	letter-spacing: -0.042px;
}
.stl_25 {
	letter-spacing: -0.0027em;
}

.stl_ie .stl_25 {
	letter-spacing: -0.0394px;
}
.stl_26 {
	letter-spacing: -0.0019em;
}

.stl_ie .stl_26 {
	letter-spacing: -0.0281px;
}
.stl_27 {
	letter-spacing: -0.0017em;
}

.stl_ie .stl_27 {
	letter-spacing: -0.0254px;
}
.stl_28 {
	letter-spacing: -0.0069em;
}

.stl_ie .stl_28 {
	letter-spacing: -0.1019px;
}
.stl_29 {
	letter-spacing: -0.0022em;
}

.stl_ie .stl_29 {
	letter-spacing: -0.0327px;
}
.stl_30 {
	letter-spacing: -0.0038em;
}

.stl_ie .stl_30 {
	letter-spacing: -0.0557px;
}
.stl_31 {
	letter-spacing: -0.0016em;
}

.stl_ie .stl_31 {
	letter-spacing: -0.024px;
}
.stl_32 {
	letter-spacing: -0.001em;
}

.stl_ie .stl_32 {
	letter-spacing: -0.0153px;
}
.stl_33 {
	letter-spacing: -0.0023em;
}

.stl_ie .stl_33 {
	letter-spacing: -0.0344px;
}
.stl_34 {
	letter-spacing: -0.0053em;
}

.stl_ie .stl_34 {
	letter-spacing: -0.0778px;
}
.stl_35 {
	letter-spacing: 0.004em;
}

.stl_ie .stl_35 {
	letter-spacing: 0.0531px;
}
.stl_36 {
	letter-spacing: 0.0006em;
}

.stl_ie .stl_36 {
	letter-spacing: 0.0085px;
}
.stl_37 {
	letter-spacing: 0.003em;
}

.stl_ie .stl_37 {
	letter-spacing: 0.044px;
}
.stl_38 {
	letter-spacing: -0.003em;
}

.stl_ie .stl_38 {
	letter-spacing: -0.0439px;
}
.stl_39 {
	letter-spacing: -0.0009em;
}

.stl_ie .stl_39 {
	letter-spacing: -0.0128px;
}
.stl_40 {
	letter-spacing: 0.0044em;
}

.stl_ie .stl_40 {
	letter-spacing: 0.0647px;
}
.stl_41 {
	letter-spacing: -0.0018em;
}

.stl_ie .stl_41 {
	letter-spacing: -0.026px;
}
.stl_42 {
	font-size: 0.5em;
	font-family: "RVFNLF+Times New Roman";
	color: #000000;
}
.stl_43 {
	font-size: 0.75em;
	font-family: "RVFNLF+Times New Roman";
	color: #000000;
}
.stl_44 {
	letter-spacing: -0.0003em;
}

.stl_ie .stl_44 {
	letter-spacing: -0.0037px;
}
.stl_45 {
	letter-spacing: -0.0004em;
}

.stl_ie .stl_45 {
	letter-spacing: -0.0051px;
}
.stl_46 {
	font-size: 0.75em;
	font-family: "WTCQBW+Times New Roman Italic";
	color: #000000;
}
.stl_47 {
	letter-spacing: 0.0011em;
}

.stl_ie .stl_47 {
	letter-spacing: 0.0135px;
}
.stl_48 {
	letter-spacing: -0.013em;
}

.stl_ie .stl_48 {
	letter-spacing: -0.1561px;
}
.stl_49 {
	letter-spacing: 0.0003em;
}

.stl_ie .stl_49 {
	letter-spacing: 0.0035px;
}
.stl_50 {
	letter-spacing: -0.0007em;
}

.stl_ie .stl_50 {
	letter-spacing: -0.0079px;
}
.stl_51 {
	font-size: 0.67em;
	font-family: "RVFNLF+Times New Roman";
	color: #000000;
}
.stl_52 {
	letter-spacing: -0.0065em;
}

.stl_ie .stl_52 {
	letter-spacing: -0.0692px;
}
